[submodule "FreeRTOS/Kernel"]
	path = FreeRTOS/Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "FreeRTOS/FreeRTOS-Plus-TCP"]
	path = FreeRTOS/FreeRTOS-Plus-TCP
	url = git@github.com:FreeRTOS/FreeRTOS-Plus-TCP.git
